.block {
  // height: 50px;
  // width: 100%;
  background: red;
}

.container {
  display: grid;
  // 1fr - 1 free space part
  // 1fr 1fr = 50/50 of entire space
  // grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 3fr 1fr 2fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

/*@media screen and (min-width: 320px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 3fr 1fr;
  }
}*/
